---
title: About
---

<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
    <link rel="stylesheet" href="/assets/css/player.css">
</head>

<body>

    {% include nav.html %}

    <div class="site-ctx container">

        <div style="height:20vh;"></div>

        <div class="center">
            <h1>About this website</h1>

            <div style="width:100%;max-width:800px;margin:auto;">
                <p>MCInfo is a website built by <a href="https://retrylife.ca">Evan Pratten</a> to showcase the
                    RetryLife API's Minecraft functionality, and as some web development practice. Everything on this
                    site should be free for ever, no personal data is tracked, and I am not planning to put ads here
                    either. If you would like to make a small donation to support further development of this free
                    project and others, feel free to send something via <a href="https://paypal.me/ewpratten">PayPal Donations</a>, or use
                    one of the cypto addresses listed <a href="https://retrylife.ca/about/#my-crypto-addresses">on my
                        website</a>. The source code for this website can be found <a href="https://github.com/Ewpratten/mcinfo">here</a>.</p>
            </div>
        </div>
        
        <div style="height:20vh;"></div>



    </div>


    {% include foot.html %}

</body>

</html>